.no-padding{
  padding: 0;
}
.margin-auto{
  margin: 0 auto;
}

.site-header{
  @include alpha-attribute(background, rgba(255, 255, 255, 0.85), #fff);
  //@extend .cf;
  padding: 0;
  position: relative;
  z-index: 1020;
  hgroup{
    margin-top: .3em;
  }
  border-bottom: 1px solid #ccc;
  
  @media #{$tablet}{
    border-bottom: 0;
    
  }
  @media only screen and (min-width: 63em){
    padding-bottom: .3em;
  }
  .wrapper{
    @media #{$tablet-landscape}{
      padding: 0 2em;
    }
  }
}

a, 
a:link,
a:visited, 
.entry-header .entry-title a{
  color: $blue;
  text-decoration: none;
}

a:hover,
a:active,
a:focus{
  color: darken($blue, 10%);
  text-decoration: underline;
}

.entry-header .entry-title a{
  &:hover,
  &:active,
  &:focus{
    color: darken($blue, 10%);
    text-decoration: underline;
  }
}

.button{
   background: $blue;
   border: 0;
   font-weight: bold;
   color: #fff !important;
   text-decoration: none;
   //margin: 1em 0;
   padding: .4em 1em .3em;
   display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -ms-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   
   @include ease;
   
   &:hover, 
   &:active,
   &:focus{
     text-decoration: none;
     background: darken($blue, 15%);
     
   }
}


footer[role="contentinfo"]{
  line-height: 1.5;
  @extend .cf;
  
  .vcard{
    float: left;
    .org{
      font-weight: bold;
    }
  }
  .site-info{
    clear: both;
    padding-top: 2em;
    color: #bbb;
    @extend .milli;
  }
}

hr{
  border-top: 1px solid #f5f5f5;
  background: transparent;
  height: 1px;
  padding: 0;
  margin: 1em;
}
