html, body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: $source-sans-pro;
  font-size: 100%;
}

html, body, #page{
  width: 100%;
  background: #fff;
  box-shadow: none;
}

@media #{$desktop-xlarge}{
  html{
    font-size: 100%;
  }
}
/*
body{
  font-family: $lato;
  background: #111 url('images/bg.jpg') no-repeat top center;
  background-size: cover;
  
  @media only screen and (min-width: 37.5em) { //600px
  background: #111 url('images/bg.jpg') no-repeat top center;
  background-size: contain;
  }
  
  @media only screen and (min-width: 60.0em) { //960px
  background-position: center -275px;
  background-size: contain;
  } 
}
*/
body .site{
  padding: 0;
  background-color: #fff;
  margin: 0 auto;
  @media #{$mobile-landscape} { //960px
    margin: 0 auto; 
    padding:0;
    max-width: inherit; 
  }
  
}


.wrapper{
  @include border-box;
  @include zero;
  @include rem-fallback(max-width, 75);
  margin: 0 auto;
  position: relative;
  clear: both;
  @media #{$mobile-landscape}{ //600px
    margin: 0 auto;
  }
  @media only screen and (min-width: 65em){ // overrides parent theme styles
    padding: 0 1em;
  }
  @media #{$desktop} { //1400px
    @include zero;
    margin: 0 auto;
  }
} 

%wrapper{
  @include border-box;
  @include zero;
  @include rem-fallback(max-width, 75);
  margin: 0 auto;
  position: relative;
  @media #{$mobile-landscape}{ //600px
    margin: 0 auto;
  }
  @media only screen and (min-width: 65em){ // overrides parent theme styles
    padding: 0 1em;
  }
  @media #{$desktop} { //1400px
    @include zero;
    margin: 0 auto;
  }
}


#page.site{
  @media #{$tablet}{
    background-image: url(imgs/landscape.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-size: 100%;
    .all{
      margin-top: 100px;
      background-color: #fff;
    }
  }
  
}

.home #page.site{
  @media #{$tablet}{
    background: #fff;
    .all{
      margin-top: 0;
    }
  }
} 

.site-content{
  margin-top: 0;
  width: 100%;
  .widget-area{
    h3{
      border-bottom: 4px double $light-grey;
    }
    width: 100%;
    a, 
    a:link,
    a:visited{
      color: $blue;
      font-weight: normal;
    }
  }
  article{
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #f5f5f5;
    &:last-child{
      border-bottom: 0;
    }
    &.page{
      border-bottom: 4px double #f5f5f5;
    }
  }
  #content{
    max-width: 71em;
    margin: 3em auto;
    @extend .cf;
    article{
      padding: 0 2em;
      @media #{$tablet-landscape}{
        padding: 0 2em;
      }
    }
  }
}

// Columns
.left, .right{
  @include border-box;
  float: left;
  padding: 2em 1em;
} 
.col-65{
  width: 100%;
  
  @media #{$tablet-landscape}{
    width: 75%;
    padding: 2em 1em 0 0;
    
  }
}

.col-35{
  width: 100%;
  @media #{$tablet-landscape}{
    width: 25%;
    padding: 2.6em 0 0 1em;
  }
}

span.tags{
  padding-left: 1.5em;
  margin-bottom: 1em;
  display: block;
  background: transparent url(imgs/tag.png) no-repeat left center;
  background-size: 18px;
}


.home .site-content{
  #content{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    article{
      padding: 0 1em;
      @media #{$tablet-landscape}{
        padding: 0 1em;
      }
    }
  }
}



footer[role="contentinfo"]{
  @include border-box;
  @include rem-fallback(max-width, 71);
  margin: 0;
  border: 0;
  padding: 2em 2em; 
  border-top: 1px solid $light-line-grey;
  
  @media #{$mobile-landscape} { //600px    
    @include zero;
    padding: 2em 3em;
    margin: 0 auto;
    border-top: 1px solid $light-line-grey;
    
  }
  @media only screen and (min-width: 65em){ // overrides parent theme styles
    padding: 2em 3em;
    border-top: 1px solid $light-line-grey;
    
  }
  @media #{$desktop-large} { //1400px
    margin: 0 auto;
    border-top: 1px solid $light-line-grey;
    
  }
}