.placeholder img{
	width: 100%;
}

body{
	background-color: #fff;
}

a{
	color: #5279bb;
}





.main-navigation{
	margin-top: 0;
}

.menu-toggle{
	padding: 1em 2em;
}

.toggled-on a{
	text-decoration: none;
	padding: .2em .5em;
	border-bottom: 1px solid #ccc;
}

.attachment-thumbnail{
	display: none;
}





