.entry-header{
  .entry-title{
    @extend .alpha;
  }
} 

date{
  display: block;
  margin-top: 4em;
  margin-bottom: 1em;
  font-style: italic;
  color: #777;
}

.single{
  date{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $light-line-grey;
  }
}


