.entry-header{
  .entry-title{
    @extend .alpha;
  }
} 

date{
  display: block;
  margin-top: 4em;
  margin-bottom: 1em;
  font-style: italic;
  color: #777;
}

.single{
  date{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $light-line-grey;
  }
}


/*
* Services Pages
*/

.service-items article, .pc-items article{
  min-height: 185px;
  @extend .cf;
  @media #{$mobile-landscape}{
    .wp-post-image{
      float: left;
      margin: 0 1.5em 1em 0;
    }
    .entry-title, .entry-content{
      clear: none;
      padding-left: 175px;
    }
  }
}

.category-services{
  date{
    display: none;
  }
}


/*
* Contact Page
*/

.col-right{
  float: left;
  margin-right: 2em;
}


/* 
* Client Page
*/

.page-template-page-templatesclients-page-php{
  .canvas{
    width: 100% !important;
  }
}










