/* 
* Service Type 
*/
.service-bar{
  @media #{$tablet}{
	  max-width: 1050px;
	  margin: 0 auto;
	}
}
.service-bar aside{
  margin: 2em 0;
  padding-bottom: 2em;
  border-bottom: 1px solid $light-line-grey;
  text-align: center;
	p{
	  margin: 0;
	  padding: 0;
	  line-height: 1.5;
	}
	@media #{$tablet}{
    float: left;
    width: 33.33%;
    max-width: 350px;
    margin-top: 0;
    padding-top: 0;
    border-bottom: 0;
  }
}
.service-type{
	margin: 1em auto .5em;
	display: inline-block;
	text-decoration: none;
	color: $text-color;
	@media #{$tablet}{
    margin: 0 auto 0.5em;
  }
	&:hover {
	  img{
    	  opacity: 0.7;
    }
    h2{
      border-bottom: 1px solid $line-grey;
    }
	}
  h2{
    @include rem-fallback(font-size, 1.2);
    margin: 1em 0 0;
    padding: 0 1em .2em;
    display: block;
    border-bottom: 1px solid transparent;
  }
  img{
   @include ease;
    max-width: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
}






/*
* Flexslider
*/

.home{
  @media screen and (min-width: 63em){
    .all{
      z-index: 1;
      position: absolute;
      top: 0;
      margin: 0 auto;
      width: 100%;
    }
  }
.metaslider .flexslider{
  margin: 0;

}
  .flexslider{
    margin-bottom: 0;
    @include border-box;
    width: 100%;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    @media #{$desktop-small}{
      max-height: 600px;
      overflow: hidden;
      max-width: 2000px;
      margin: 0 auto;
    }
    .caption-wrap{
      .caption{
        max-width: 45em;
        margin: 0 auto;
      }
      @include border-box;
      opacity: 1;
      text-align: center;
      @include alpha-attribute(background, rgba(255, 255, 255, 0.8), #fff);
      color: $blue;
      position: relative;
      line-height: 1.2;
      font-weight: bold;
      font-style: italic;
      border-top: 1px solid $light-line-grey;
      border-bottom: 1px solid $light-line-grey;
      margin: 0;
      @media #{$tablet}{
        @include rem-fallback(font-size, 1.3125); //21px
        padding: .75em;
        position: absolute;
        bottom: 10%;
        border: 0;
        font-weight: 600;
      }
      @media#{$desktop-small}{
        bottom: inherit;
        top:450px;
      }
    }
    .flex-control-nav.flex-control-paging{
      background: $blue;
      height: 44px;
      bottom: -44px;
      li a{
        margin-top: 1.25em;
        display: inline-block;
        @include alpha-attribute(background, rgba(255, 255, 255, 0.5), $blue);
        height: 6px;
        width: 6px;
        box-shadow: none;
        &.flex-active{
          @include alpha-attribute(background, rgba(255, 255, 255, 0.8), $blue);
        }
      }
      @media#{$desktop-small}{
        bottom: 0;
        z-index: 1010;
      }
    }
  }
}

.blue-box{
  height: 50px;
}
.home-content{
  padding: 2em 1em 1em;
}

@media #{$tablet-landscape}{
 .blue-box{
   height: 160px;
   background: $blue;
 }
 .home-content{
   max-width: 75em;
   background-color: #fff;
   padding: 2em 3em 1em;
   margin: -115px 3em 0;
   -webkit-border-radius: .2em;
   -moz-border-radius: .2em;
   -o-border-radius: .2em;
   border-radius: .2em;
 }
}

.home-content{
  @media #{$desktop-small}{
    margin: -155px 3em 0;
  }
  @media #{$desktop}{
    margin: -155px auto 0;
  }
}


.widget-area .widget .wp-tag-cloud{
  li{
    margin: 1em 0;
    line-height: 1;
  }
}

